@import "~normalize.scss/normalize.scss";
@import "variables.scss";
@import "fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFF;
  color: $wet-asphalt;
  @include heading-font;
}
